bcrypt
beautifulsoup4
bs4
certifi
cffi
chardet
Click
Flask
Flask-Bcrypt
Flask-Session
gunicorn
idna
itsdangerous
Jinja2
lxml
MarkupSafe
psycopg2-binary
pycparser
python-dotenv
requests
six
soupsieve
SQLAlchemy
urllib3
Werkzeug
