{% extends "base_template.html" %}

{% block title %}Search for a Book{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="d-flex justify-content-center flex-column col-md-5 py-5 global-form">
            <img class="mx-auto" src="{{url_for('static', filename='img/icons/magnifying-glass-icons/128x128.png')}}" alt="Magnifying Glass Icon">
            <form action="{{url_for('books')}}" method="POST">
                <h1 class="text-center">Search</h1>
                <div class="form-group">
                    <input type="text" class="form-control" id="Name" name="search" placeholder="Author, ISBN or Title" required>
                </div>
                <button type="submit" class="btn btn-block btn-custom">Search</button>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="alert alert-{{category}} my-1" role="alert">
                                {{msg}}
                            </div>
                        {% endfor %}
                    {% endif%}
                {% endwith %}
            </form>
        </div>
    </div>
</section>
{% endblock %}