{% extends "base_template.html" %}

{% block title %}{% endblock %}

{% block content %}
<section class="container">
    <div class="d-flex justify-content-center row">
        <div class="col-md-2 display-contents">
            <img class="mx-auto" src="{{url_for('static', filename='img/icons/book-icons/128x128.png')}}" alt="Picture of a Book">
            <form action="/books/{{book[0].book_id}}/comment/new" method="POST">
                <button class="btn btn-primary" type="submit">New Comment</button>
            </form>
        </div>
        <div class="col-md-4 display-contents">
            <h5>{{book[0].title}}</h5>
            <p><em>Author:</em> {{book[0].author}}</p>
            <p><em>Year Released:</em> {{book[0].year}}</p>
            <p><em>ISBN:</em> {{book[0].isbn}}</p>
            <p><em>Reviews:</em> {{good_reads_data.books[0].reviews_count}}</p>
            <p><em>Average Rating:</em> {{good_reads_data.books[0].average_rating}}</p>
        </div>
    </div>
</section>
{% endblock %}