/* Globals */

body{
    background-image:url(../img/book-background-1.jpg);
}

.navbar{
    background-color: #ffc348 !important;
}

.navbar a{
    color:whitesmoke !important;
}

#footer{
    padding: 1em !important;
}

/* Landing Page */

.landing-form{
    background-color: rgba(255,255,255,0.8) !important;
    margin-top: 7vh;
    margin-bottom: 15%;
}

.landing-form a{
    display: flex;
    background-color: 	#ffc348 !important;
    color: whitesmoke;
    outline: none;
    border-color: #E5AF41;

}

.landing-form a:hover, .landing-form a:focus{
    border-color: #E5AF41 !important;
    background-color: #E5AF41 !important;
    box-shadow: none !important;
}

.landing-form a:active{
    border-color: #E5AF41 !important;
    box-shadow: 0 0 0 0.2rem rgba(21,15,9,0.25) !important;
}


/* authorisation pages register and login */

.btn-custom:hover, .btn-custom:focus{
    border-color: #E5AF41 !important;
    background-color: #E5AF41 !important;
    box-shadow: none !important;
    color: whitesmoke;
}

.btn-custom{
    background-color: #ffc348;
    color: whitesmoke;
    border-color: #E5AF41;
}

.btn-custom:active{
    border-color: #E5AF41 !important;
    box-shadow: 0 0 0 0.2rem rgba(21,15,9,0.25) !important;
}
