{% extends "base_template.html" %}

{% block title %}Search for a Book{% endblock %}

{% block content %}
<section class="container">
    <div class="row justify-content-center">
        <div class="d-flex justify-content-center flex-column col-md-5 py-5 global-form">
            <img class="mx-auto mb-4" src="{{url_for('static', filename='img/icons/error-icons/128x128.png')}}" alt="Error Icon">
                <p class="text-center">{{error}}</p>
                <a href="{{url_for('index')}}" class="btn btn-block btn-custom d-flex justify-content-center">Home</button>
                
        </div>
    </div>
</section>
{% endblock %}