{% extends "base_template.html" %}

{% block title%}Home{% endblock %}

{% block content%}
<section class="container">
    <div class="row">
        <div class="d-flex justify-content-center flex-column offset-md-8 col-md-5 pt-5 pb-4 global-form">
            <img class="mx-auto" src="{{url_for('static', filename='img/icons/book-icons/128x128.png')}}" alt="Picture of a Book">
            <div class="mx-3 text-center">
                <h1>The Book Review Site</h1>
                <p class="mb-0">This is a Project for the Harvard EDX CS50W Course</p>
                <p class="mb-0">Check out my github Page for the source code</p>
                <p class="text-center"><small>(link in the footer)</small></p>
                
                <a class="btn btn-primary justify-content-center" href="{{url_for('login')}}">Login</a>
                <p class="text-center"><small style="color:red !important">Please Note I have disabled registration so that the database doesnt get clogged up with users</small></p>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="alert alert-{{category}} my-1" role="alert">
                                {{msg}}
                            </div>
                        {% endfor %}
                    {% endif%}
                {% endwith %}
            </div>
        </div>
    </div>
</section>
{% endblock %}