{% extends "base_template.html" %}

{% block title%}Register{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="d-flex justify-content-center flex-column offset-md-8 col-md-5 py-5 global-form">
            <img class="mx-auto" src="{{url_for('static', filename='img/icons/book-icons/128x128.png')}}" alt="Picture of a Book">
            <form action="{{ url_for('register') }}" method="POST">
                <h1 class="text-center">Register</h1>
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" name="name" placeholder="Your Name Please" required>
                </div>
                <div class="form-group">
                    <label for="Username">Username</label>
                    <input type="text" class="form-control" id="Username" name="username" placeholder="Your Username Please" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="login-password" name="password" placeholder="Password Please" required>
                </div>
                <button type="submit" class="btn btn-block btn-custom">Register</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <div class="alert alert-{{category}} my-1" role="alert">
                            {{msg}}
                        </div>
                    {% endfor %}
                {% endif%}
            {% endwith %}
        </div>
    </div>
</section>
{% endblock %}